.margin {
}
.container{
  background-color: rgba(86, 164, 86,0.2);
  width: 100%;
}
.textBox{
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: center;
}
.block{
  margin-top:04px
}
@media screen and (max-width: 1066px) {
  .block{
    margin-top: 24px
  }
  .textBox{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
  }
}
