.margin {

}
.infoBoxes{
  display: flex;
  flex-direction: row;
}
.bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.nonDisplay{
  display: none;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;

  flex:1;
}
.bottomTextRegular {
  letter-spacing: 2px;
  font-size: 20px;
  color: #252525;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  min-width: 420px;
  width: 100%;
  flex: 1;
  margin-top: 48px;
}
.bottomImg {
  flex: 1;
  max-height: 515px;
  border-radius: 15px;
  margin-right: 32px;
  object-fit: contain;
}
.img{
  display: flex;
  flex-direction: column;
  width:  100%;
  object-fit: cover;
  cursor: pointer;
}
.imgBoxColumm{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 48px;
}
.imgBoxRow{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
align-items: flex-end;justify-content: center;
}
.imgBox{
  width:  40%;height: 100%;
  background-color: rgba(86, 164, 86, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.tab{
  font-size: 24px;
  margin-top: 12px;
  color:"#252525";
  background-color: rgba(86, 164, 86, 0.1);
  border-radius: 8px;
  min-height: 50px;
  padding-top: 6px;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  margin-left: 12px;
  margin-right: 12px;
}

.selectedTab{
  border: 1px solid #0f5e12;


  font-size: 24px;
  margin-top: 12px;
  color:"#252525";
  border-radius: 8px;
  min-height: 50px;
  padding-top: 6px;

  cursor: pointer;
  width: 100%;
  color:#252525;
  min-width: 200px;
  margin-left: 12px;
  margin-right: 12px;



}


.text{
  font-size: 24px;
  margin-top: 12px;
  color:"#252525";
  border-radius: 8px;
  min-height: 50px;
  padding-top: 6px;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 997px) {

  .bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
  .bottomTextRegular {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
  .bottomTextBox {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .bottomBox {
    padding-left: 20px;
    padding-right: 0px;
  }
  .bottomTextRegular {
    text-align: left;
    min-width: 0px;
    width: 100%;
    flex: 1;
    padding-left: 12px;
    padding-right: 12px;
  }

  .imgBoxRow{
    align-items: center;

    flex-direction: column;
  }
  .img{
    display: flex;
    flex-direction: column;
    padding: 20px;
    object-fit: contain;
  }
  .imgBox{
    width:  100%;

  
    display: flex;
    flex-direction: column;
  }

  .text{
    font-size: 21px;
    min-height: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px;

  }

}
