.margin {
}

.label{
  width: 220px;
  text-align: left;
}
.labelStyle{
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.labelClick{
  width: 300px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: bold
}
.row {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.box {
  margin-top: 48px;
  width: 100%;




  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
}
.mainImg {
  display: flex;
  height: 100%;
  width: 500px;

  object-fit: contain;
 cursor: pointer;
}
.img {
  width: 25%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;height: auto;
}
.imgNull{
  width: 25%;height: auto;
  margin-left: 6px;
  margin-right: 6px;
}

.infoBox {


  margin-top: 48px;


  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;



}
.smallImg {
  width: 100%;
  height: 100px;
}
.imgBoxColumm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 12px;
  width: 100%;

}
.imgBoxRow {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 12px;
}
.back{
  color:#252525;
  font-size:48px;
 cursor: pointer;
// z-index: 100;
 display: flex;
  
}
.column{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
flex:1  
}
.insideBox{
  margin-left: 24px;
  flex-direction: row; display: flex;
}
@media screen and (max-width: 997px) {
  .insideBox{
margin-top: 24px;
    flex-direction: column; display: flex;
  }
  .label{text-align: center;
  }
  .labelClick{
    width: 300px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: bold
  }
  .mainImg {
    display: flex;
    height: 100%;
    width: 100%;
  margin-bottom: 36px;
    object-fit: contain;
   cursor: pointer;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imgBoxRow {
    align-items: center;
margin-bottom: 0px;
margin-left: 0px;
margin-right:0px;
    flex-direction: column;
  }
  .img {
    display: flex;
    max-height: 300px;
margin-bottom: 12px;
    width: 100%;

    object-fit: cover;

    margin-left: 0px;
    margin-right: 0px;

    // cursor: pointer;
  }
  .infoBox {
    margin-top: 48px;

    margin-left: 48px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
