.titleImg {
  width: 100%;
  height: 400px;
  background-image: url("../../assets/img/background/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}
// .padding{
//   padding-left: 200px;
//   padding-right: 200px;

// }
.margin {
  background-color: rgb(214, 253, 214, 0.2);
}
.imgSize {
  width: "100%";
  object-fit: cover;
}
.websiteBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.websiteBottom {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px;
  padding-left: 100px;
  padding-right: 100px;
}
.websiteName {
  color: #252525;
  font-weight: bold;
  font-size: 72px;text-align: center;
}
.websiteDesc {
  color: #252525;
  font-weight: bold;
  font-size: 22px;
}
@media screen and (max-width: 997px) {
  .websiteBottom {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .titleImg {
    background-position: 0px 50px;
    height: 300px;
  }
  .websiteBox {
    height: 300px;
  }
  .imgSize {
    width: "100%";
    padding-top: 190px;
    max-height: 500px;
    object-fit: cover;
  }
}
