.margin {
}
.infoBoxes{
  display: flex;
  flex-direction: row;
}
.bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.bottomTextRegular {
  letter-spacing: 2px;
  font-size: 20px;
  color: #252525;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  min-width: 420px;
  width: 100%;
  flex: 1;
  margin-top: 48px;
}
.bottomImg {
  flex: 1;
  max-height: 515px;
  border-radius: 15px;
  margin-right: 32px;
  object-fit: contain;
}
.img{
  display: flex;
  flex-direction: column;
  height: 350px;
  width:  100%;
  padding: 20px;
  object-fit: cover;
}
.imgBoxColumm{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 48px;
  width: 100%;
}
.imgBoxRow{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;

}
@media screen and (max-width: 1554px) {
  .bottomBox {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1270px) {
  .bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1038px) {
  .bottomTextRegular {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
  .bottomTextBox {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
@media screen and (max-width: 991px) {
  .bottomBox {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bottomTextRegular {
    text-align: left;
    min-width: 0px;
    width: 100%;
    flex: 1;
    padding-left: 12px;
    padding-right: 12px;
  }
  .imgBoxRow{
    flex-direction: column;
  }
}