

.infoBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.title {
  font-size: 22px;
  color: #252525;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  font-size: 18px;
  color: #252525;
  letter-spacing: 1px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  width:400px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 1200px) {
  .title {
    width:100%;

  }
  .content {

    width:80%;
   margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {



}
