.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(86, 164, 86, 0.1);
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 12px;
  padding-top: 24px;
  padding-bottom: 24px;


}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 48px;
  margin-right: 48px;
  border-radius: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.img {
  border-radius: 20px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 12px;
  border: 2px solid green;
}
.title {
  font-size: 22px;
  color: #252525;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;text-align: center;
}
.bar {
  height: 4px;
  width: 15%;
  margin-bottom: 12px;
  background-color: green;
  padding-left: 12px;
  padding-right: 12px;
}
.imgBar {
  height: 4px;
  width: 100px;
  margin-bottom: 12px;
  background-color: green;
  padding-left: 12px;
  padding-right: 12px;
}
.content {
  font-size: 18px;
  color: #252525;
  letter-spacing: 1px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 1366px) {
  .infoBox {


  }
  .title {
  }
  .bar {
    height: 4px;
    width: 15%;
    
    background-color: green;
    padding-left: 12px;
    padding-right: 12px;
  }
  .infoBox {
    margin-bottom: 24px;width: 100%;
  }
  
  .iconBox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .content {

  }
}
@media screen and (max-width: 997px) {
  .infoBox {

    margin-left:0px;
    margin-right: 0px;

  }
  .title {
  }
  .bar {
    height: 4px;
    width: 15%;
    
    background-color: green;
    padding-left: 12px;
    padding-right: 12px;
  }
  .infoBox {
    margin-bottom: 24px;width: 100%;
  }
  
  .iconBox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .content {

  }
}
